In [ ]:
#Create an empty tuple 
x = ()
print(x)
#Create an empty tuple with tuple()  built-in function
tuplex = tuple()
print(tuplex)

In [4]:
#create a tuple with different data types
tuplex =('tuple',False, 3,1.5)
print(tuplex)

('tuple', False, 3, 1.5)

In [5]:
#Create a tuple with numbers
tuplex = 10, 15, 26, 17, 25
print(tuplex)
#Create a tuple of one item
tuplex = 25,
print(tuplex)

(10, 15, 26, 17, 25)
(25,)

In [32]:
#Unpack a tuple in several variables
tuplex = 4, 8, 3 
print(tuplex)
n1, n2, n3 = tuplex
#unpack a tuple in variables
print(n1 + n2 + n3)

(4, 8, 3)
15

In [ ]:
#5.create a tuple to add a item in a tuple
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)
#tuples are immutable, so cannot add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
print(tuplex)
#adding items in a specific index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
#converting the tuple to list
listx = list(tuplex) 
#use different ways to add items in list
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

In [11]:
#6.Convert the tuple into string 
tup = ('a', 's', 's', 'i', 'g', 'n', 'm', 'e', 'n','t')
str =  ''.join(tup)
print(str)

assignment

In [12]:
#7.Program to get the 4th element and 4th element from last of thr tuple
#Get an item of the tuple
tuplex = ("s", "h", "i", "a", "s", "h", "i", "n", "f","o")
print(tuplex)
#Get item (4th element)of the tuple by index
item = tuplex[3]
print(item)
#Get item (4th element from last)by index negative
item1 = tuplex[-4]
print(item1)

('s', 'h', 'i', 'a', 's', 'h', 'i', 'n', 'f', 'o')
a
i

In [13]:
#8.Colon of the tuple
from copy import deepcopy
#create a tuple
tuplex = ("HEY", 10, [], False) 
print(tuplex)
#make a copy of a tuple using deepcopy() function
tuplex_colon = deepcopy(tuplex)
tuplex_colon[2].append(50)
print(tuplex_colon)
print(tuplex)

('HEY', 10, [], False)
('HEY', 10, [50], False)
('HEY', 10, [], False)

In [15]:
#9.Repeated elements in Tuple
#create a tuple
tuplex = 2, 4, 5, 6, 2, 3, 3, 4, 7 
print(tuplex)
#return the number of times it appears in the tuple.
count = tuplex.count(3)
print(count)

(2, 4, 5, 6, 2, 3, 3, 4, 7)
2

In [18]:
#10.Check whether an element exists within a tuple
tuplex = ("e", "x", "e", "r", "c", "i", "s", "e", 5)
print("r" in tuplex)
print(6 in tuplex)

True
False

In [ ]:
#11.Convert list to tuple
listx = [5, 10, 7, 4, 15, 3]
print(listx)
#using the tuple() function built-in Python( passing as parameter the list)
tuplex = tuple(listx)
print(tuplex)

In [20]:
#12.Remove an item from a tuple
tuplex = "c", "o", "u", "n", "t", "r", "y", 1
print(tuplex)
#tuples are immutable, so you can not remove elements
#using merge of tuples with the + operator you can remove an item and it will create a new tuple
tuplex = tuplex[:2] + tuplex[3:]
print(tuplex)
#converting the tuple to list
listx = list(tuplex) 
#use different ways to remove an item of the list
listx.remove("c") 
#converting the tuple to list
tuplex = tuple(listx)
print(tuplex)

('c', 'o', 'u', 'n', 't', 'r', 'y', 1)
('c', 'o', 'n', 't', 'r', 'y', 1)
('o', 'n', 't', 'r', 'y', 1)

In [ ]:
#13.Slice of the tuple
tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
#used tuple[start:stop] the start index is inclusive and the stop index
_slice = tuplex[3:5]
#is exclusive
print(_slice)
#if the start index isn't defined, is taken from the beg inning of the tuple
_slice = tuplex[:6]
print(_slice)
#if the end index isn't defined, is taken until the end of the tuple
_slice = tuplex[5:]
print(_slice)
#if neither is defined, returns the full tuple
_slice = tuplex[:]
print(_slice)
#The indexes can be defined with negative values
_slice = tuplex[-8:-4]
print(_slice)
#create another tuple
tuplex = tuple("HELLO WORLD")
print(tuplex)
#step specify an increment between the elements to cut of the tuple
#tuple[start:stop:step]
_slice = tuplex[2:9:2]
print(_slice)
_slice = tuplex[::4]
print(_slice)
_slice = tuplex[9:2:-4]
print(_slice)

In [24]:
#14.index of an item of a tuple
tuplex = tuple("index tuple")
print(tuplex)
#get index of the first item whose value is passed as parameter
index = tuplex.index("p")
print(index)
#define the index from which you want to search
index = tuplex.index("p", 5)
print(index)
#define the segment of the tuple to be searched
index = tuplex.index("e", 3, 6)
print(index)

('i', 'n', 'd', 'e', 'x', ' ', 't', 'u', 'p', 'l', 'e')
8
8
3

In [25]:
#15.Length of the tuple
tuplex = tuple("internship")
print(tuplex)
print(len(tuplex))

('i', 'n', 't', 'e', 'r', 'n', 's', 'h', 'i', 'p')
10

In [26]:
#16.convert tuple to dict
tuplex = ((6, "h"),(9, "r"))
print(dict((y, x) for x, y in tuplex))

{'h': 6, 'r': 9}

In [27]:
#17.Unzip tuple
l = [(1,2), (3,4), (8,9)]
print(list(zip(*l)))

[(1, 3, 8), (2, 4, 9)]

In [29]:
#18.Tuple reverse
x = ("nation")
y = reversed(x)
print(tuple(y))
#create another tuple
x = (5, 10, 15, 20)
y = reversed(x)
print(tuple(y))

('n', 'o', 'i', 't', 'a', 'n')
(20, 15, 10, 5)

In [30]:
#19.convert list of tuples into dict
#create a list
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [31]:
#20.Print the tuple with string formatting
t = (100, 200, 300)
print('This is a tuple {0}'.format(t))

This is a tuple (100, 200, 300)